.view_suspect_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(65, 202, 19, 0.2) 0%,
    rgba(26, 166, 201, 0.2) 100%
  );
  border-radius: 18px;
  padding: 20px 30px;
}
.suspect_name_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.suspect_name_wrapper h5 {
  font-size: 20px;
  font-weight: 800;
}
.view_suspect_heading p {
  color: #fff;
  background-color: rgba(230, 70, 70, 1);
  border-radius: 15px;
  padding: 5px 15px;
  font-size: 13px;
}
.physical_details_box_wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}
.vehicle_details_box_wrapper{
   display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 10px;
}
.details_box_wrapper{
     display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 10px;
}
.physical_details_box {
  width: 100%;
  border-radius: 8px;
  padding: 15px 10px;
  background-color: rgba(241, 245, 249, 1);
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}
.physical_details_box p {
  font-size: 14px;
  color: rgba(20, 20, 20, 1);
  font-weight: 600;
}
.physical_details_box small {
  color: rgba(20, 20, 20, 0.8);
  font-size: 12px;
}
.photos_heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}
.photos_heading p {
  color: rgba(98, 116, 142, 1);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 15px;
}
.photos_heading img {
  width: 20px;
}
.photos_wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  flex-wrap: wrap;
}
.photos_div {
  width: 116px;
  height: 110px;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.photo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
