.modal_wrapper{
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(33, 33, 33, 0.6);
    z-index: 9999;
}
.modal_body{
    width: 600px;
    border-radius: 10px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999999;
    height: fit-content;
    padding: 30px;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.modal_head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal_head h5{
    font-size: 20px;
    font-weight: medium;
}
.modal_head i{
    cursor: pointer;
}